@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset ------------------------*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   font-family: 'Raleway', sans-serif;

}

html{
   scroll-behavior: smooth;

   display: flex;
   justify-content: center;
}

html,body{
   overflow-x: hidden;
   width: 100vw;
}

li {
   list-style: none;
}

body{
   background: linear-gradient(-30deg,  #180e81, #6296aa);
}

.mainContent{
   
   max-width: 1500px;

   margin: auto;
}

/* Header / NavBar ------------------------------------ */
.logo{
   font-size: 1.2rem;
   line-height: 3.6rem;
   text-align: center;

   display: flex;
   align-items: center;
   gap: 10px; 
}

.logo img{
   width: 30px;

   transition: 300ms;

   float: left;
}

.btnMenu{
   width: 40px;
   height: 30px;

   display: none;
   flex-direction: column;
   justify-content: space-between;
}

.line1,
.line2,
.line3{
   background-color: #fff;

   width: 100%;
   height: 20%;

   border-radius: 5px;
}

a{
   color: #fff;
}

.header {

   /* Em caso de conflito mudar para 'position: fixed;' */
   position: fixed;
   top: 0;

   background-color: #2B4A6F;
   color: #fff;

   width: 100%;
   height: 90px;
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;

   padding: 0 9%;

   transition: 400ms;

   z-index: 30;
}


.menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-link a{
   padding: 10px;

   text-decoration: none;
   border-radius: 10px;

   transition: 250ms;
}

.nav-link a:hover{
   background-color: #213650;
}

.link-btn{
   background-color: #ffffff;
   color: #2B4A6F;
   font-weight: 500;
   display: flex;
   gap: 4px;

   padding: 0 10px;
   align-items: center;

   transition: 250ms;
}

.nav-link >.link-btn:hover {
   background-color: #cdd7db;
}

/* Animação do menu no scroll */


.header.stiky{
   height: 60px;
}


.header.stiky .logo img{
   width: 20px;
}

.header.stiky .btnMenu{
   width: 30px;

   height: 20px;
}





/* Container 1 ----------------------------- */
#container-1 > #bg-1 > img{
   width: 80%;

   margin-top: 30px;
}

#container-1{   
   background-image: url('../images/imagens-agosto-27-1280x720.jpg');
   background-size: cover;

   width: 100%;
   /* height: 90vh; */
   /* margin-top: 60px; */

   transition: 400ms;
   
}

#bg-1{
   display: flex;
   flex-direction: column;

   text-align: center;
   align-items: center;

   gap: 40px;
   padding: 10% 10%;
   background-color: rgba(43, 74, 111, 0.5);
   
   transition: 400ms;
}

#container-1 > #bg-1 > h1{
   font-size: 3.7rem;
   font-weight: bolder;

   color: #fff;
}

#container-1 > #bg-1 > p{
   font: normal;
   font-size: 1.6rem;
   line-height: 40px;

   color: #fff;
   
}



/* Container 2 ----------------------- */
#container-2 {
   padding: 10%;
   background: linear-gradient(45deg, #8fd1da, #180e81);

   color: #fff;

   display: flex;

   justify-content: space-between;
}

#container-2 > iframe{
   min-width: 500px;
   height: 400px;

}

#container-2 > section {

   display: flex;
   flex-direction: column;
   text-align: end;
   gap: 20px;

   max-width: 400px;
}

#container-2 > section > h1 {
   font-weight: bold;
   font-size: 2rem;
}

#container-2 > section > p{
   font-size: 1.2rem;
}

.yt-btn > i {
   font-size: 1.4rem;
   margin-right: 10px;
}

.yt-btn{
   background-color: #f72121;
   margin: 0 auto;
   padding: 15px 40px;
   font-size: 1.4rem;   

   border-radius: 30px;

   transition: .3s;

   text-align: center;
}

.yt-btn:hover{
   background-color: #f53a3a;
}

/* Container 3 ---------------------------- */
#container-3 {
   width: 100%;

   
   background-image: url('../images/mbr-1920x1080.jpg');
   background-size: cover;

   display: flex;
}

#container-3 > div{
   display: flex;
   
   padding: 10%;

   width: 100%;
   min-height: 700px;

   background-color: rgba(221, 249, 255, 0.8);
}

#container-3 > div > img{
   height: 600px;
}

#container-3 > div > section{
   display: flex;
   flex-direction: column;

   padding: 0 20px;
   height: 100%;
   justify-content: space-between;
}

#container-3 > div > section > h1{
   font-size: 3rem;
}

#container-3 > div > section > p{
   font-size: 1.8rem;
   color: #6f6f6f;

}

#container-3 > div > section > div{
   color: #0f7699;
}

#container-3 > div > section > small{
   color: #3f3f3f;
   font-size: 1rem;
}

#container-3 > div > section > strong{
   color: #232323;
}


/* Container 4 ----------------------------------------- */
#container-4 { font-family: 'Raleway', sans-serif;
   width: 100%;

   padding: 5% 10%;

   background-color: #eeeeee;
}

#container-4 > h2{
   text-align: center;

   padding-bottom: 20px;

   font-size: 3.1rem;
   font-weight: 300;
}

.media-ct{
   width: 100%;

   display: flex;
   align-items: center;
}

.panel{
   width: 50%;

   display: flex;
   flex-direction: column;

   gap: 10px;
   padding: 20px;
}
.media-ct > img{
   width: 50%;
   height: 50%;
}

.card{
   border-bottom: 2px solid #d6d6d6;

   padding: 20px;
   display: grid;

   grid-template-columns: 1fr 3fr;
}

.card:first-child{
   border-top: 2px solid #d6d6d6;
}

.card > .valueNum{
   display: inline;
   width: 50px;
   text-align: end;
   height: auto;

   font-size: 2.5rem;
   font-weight: 300;
}

.card > .cardInfo {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.card > .cardInfo > .title {
   display: inline;

   font-size: 1rem;
}

.card > .cardInfo > .description {
   color: #858585;

   font-size: 1rem;
}


/* Container 5 -------------------------------------- */
#container-5{
   width: 100%;

   padding: 5% 9%;

   display: flex;
   flex-direction: column;
   gap: 30px;

   text-align: center;
   align-items: center;

   background-color: #cbedf9;
}

#container-5 > h1{
   font-size: 3.1rem;
   color: #ff3366;
}

#container-5 > p{
   width: 75%;
   
   font-size: 1.5rem;
   font-weight: 300;
}

#container-5 > section{
   width: 100%;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 16px;
}

.card2020{
   display: flex;
   flex-direction: column;
   gap:16px;

   font-size: 1rem;

   text-align: start;
}

.card2020 > a > img{
   width: 100%;
}

.card2020 > h3{
   font-weight: 500;
   font-size: 1rem;
}

.card2020 > p{
   color: #767676;
}


/* Container 6 - 2019 Events ----------------------- */
#container-6 {
   width: 100%;
}


.intro-2019{
   background-color: rgb(198, 229, 197);

   display: flex;
   flex-direction: column;
   gap: 50px;

   text-align: center;

   padding: 5% 9%;
}

.intro-2019 > .title{
   font-size: 3rem;

   color: #0d6915;
}

.intro-2019 > .description{
   font-size: 1.75rem;
   padding: 0 10%;

   color: #303030;
}

.intro-2019 > .introImages{
   display: flex;
   justify-content: space-around;

   margin-top: 30px;
}

.intro-2019 > .introImages > img{
   height: 300px;
}

.contentStart-2019{
   background-color: #cbedf9;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   gap: 30px;
   padding: 10px 9%;
   padding-bottom: 5%;
}

.card-2019{
   display: flex;
   flex-direction: column;
   gap: 14px;
}

.card-2019 img {
   width: 100%;

   
}

.card-2019 > .cardTitle{
   font-size: 1rem;

   font-weight: 500;
}

.card-2019 > .cardDescription{
   font-size: 1rem;

   line-height: 26px;

   color: #666666;
}

.card-2019 > .cardLink{
   color: #008DAB;

   font-weight: 500;
   font-size: 1rem;

   margin-top: 8px;

}

.contentEnd-2019{
   background-color: #a0e0f7;
   
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   gap: 30px;
   padding: 10px 9%;
   padding-bottom: 5%;
}


/* Container 7 ==> Formulario de Contato ---------------------------------- */

#container-7{
   background-image: url('../images/mbr-1920x1080.jpg');
   background-size: cover;
}

.formBackground{
   background-color: rgba(69, 181, 205, 0.3);
}

.formContact{
   width: 60%;
   margin: auto;
   padding: 50px 0;

   display: flex;
   flex-direction: column;
   gap: 20px;

   
}

.formTitle {
   font-size: 3rem;
   color: #fff;
   text-align: center;
}

.formDescription {
   font-size: 1.4rem;
   color: #fff;
   font-weight: bold;
   text-align: center;

   padding: 0 20px;

   padding-bottom: 50px;
}

.userInfo {
   display: grid;

   grid-template-columns: 1fr 1fr 1fr;

   gap: 10px;
}

.form {
   color: #fff;

   display: flex;

   flex-direction: column;

   gap: 30px;
}

.message{
   height: 200px;
   width: 100%;
}

input {
    width: 100%;
}

label {
   font-size: 1rem;
   font-weight: 500;
}

.formInput{
   border: none;
   margin-top: 5px;

   padding: 10px;

   border-radius: 5px;
   
   transition: 200ms;
}

.formInput:focus {
   outline:none;

   background-color: #F0F0F0;
   border: 2px solid #A5A5A5;
   height: 34px;
   
}

.message:focus{
   height: 200px;
}

.btnSubmit {
   background-color: #008DD1;
   border-radius: 50px;

   border: none;
   font-size: 1.1rem;
   font-weight: bold;
   color: #fff;

   padding: 20px;
   max-width: 300px;

   margin: auto;

   transition: 400ms;

   cursor: pointer;
}

.btnSubmit:hover{
   background: #076795;
}



/* Footer - --------------------------------- */
footer{
   background-color: #313131;
}

.footerContent {
   padding: 30px 9%;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;

   gap: 5%;
}

.footerLogo {
   width: 100%;
}

.footerCard {
   color: #ffffff;
   line-height: 27px;

   display: flex;
   flex-direction: column;
   gap: 20px;

   font-size: 1rem;
}

.footerCard a {
   color: #4376b9;
}

.footerCard > a{
   margin-bottom: -20px;
}

.license {
   border-top: 1px solid #3d3d3d;

   padding: 20px 0;
   padding-bottom: 40px;
   margin: 0 9%;

   color: #ffffff;

   display: flex;
   flex-direction: column;
   align-items: center;
   
   grid-area: 20px;
   justify-content: space-between;

   font-size: 1rem;
}

/* Fly Buttom ---------------------------- */
.flyBtnHome{
   background-color: rgba(0, 0, 0, 0.4);
   position: fixed;
   z-index: 10;

   bottom: 20px;
   right: 9%;

   border-radius: 250px;

   width: 50px;
   height: 50px;

   transition: 400ms;
}

.flyBtnHome:hover{
   background: rgba(0,0,0, 0.6);
}

.flyBtnHome > img{
   width: 30px;
   
   margin-top: 50%;
   margin-left: 50%;

   transform: translate(-50%, -64%);
}

/* Social Media buttoms text */


.wrapper{
   display: inline-flex;
   margin-top: 40px;
}

.wrapper .icon{
   margin:0 20px ;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
   z-index: 2;
   cursor: pointer;
   transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   

}

.wrapper .icon span{
   position: relative;
   z-index: 2;
   height: 40px;
   width: 40px;
   display: block;
   background-color: #313131;
   text-align: center;

   border-radius: 50%;
   /* box-shadow: 0 10px 10px rgba(0,0,0, 0.1); */
}
.wrapper .icon:hover span i{
   color: #fff;
}

.wrapper .icon span i{
   font-size: 18px;
   line-height: 40px;
}

.wrapper .icon .tooltip{
   position: absolute;
   top: 0;

   color: #fff;
   background-color: #FFF;

   font-size: 16px;
   padding: 10px 18px;
   border-radius: 25px;

   box-shadow: 0 10px 10px rgba(0,0,0, 0.1);
   opacity: 0;
   pointer-events: none;

   transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
   top: -55px;
   opacity: 1;
   pointer-events: auto;
}

.wrapper .icon .tooltip:before{
   position: absolute;
   content: "";
   height: 10px;
   width: 10px;
   background-color: #FFF;
   bottom: -5px;
   left: 50%;

   transform: translateX(-50%) rotate(45deg);
   transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
   text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
   background: #3b5999;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
   background: #e1306c;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before{
   background: #DE463B;
}




/* RESPONSIVIDADE DA PAGINA ============================================ */

@media (max-width: 900px){

   *{
      font-size: 14px;
   }

   /* Menu / Header ---------------------------------------------------- */


   .header{
      padding: 0 30px;

      position: fixed;
   }

   .btnMenu{
      display: flex;
   }

   .menu{
      display: flex;
      position: absolute;
      overflow: hidden;

      flex-direction: column;
      justify-content: space-around;

      background-color: #2e4868;

      top: 100%;
      height: calc(100vh - 90px);

      width: min(400px, 100%);
      right: 0;

      opacity: 0;
      transform: translateX(120%);

      transition: 500ms;
   }

   .header.stiky .menu{
      height: calc(100vh - 60px);
   }

   .menu.activeMenu{
      display: flex;

      opacity: 1;

      transform: translateX(0);
   }


   /* Container - 1 ----------------------------------- */

   #bg-1{
      margin-top: 60px;
      padding: 60px 5%;
   }

   /* Container - 2 ------------------------------------- */
   #container-2{
      padding: 5%;
      
      flex-direction: column;
      align-items: center;


   }

   #container-2 iframe {
      min-width:  min(80vw, 500px);

      height: 300px;
   }

   #container-2 section{
      text-align: center;
   }

   /* COntainer - 3 ----------------------------------------- */

   #container-3{
      height: auto;
   }

   #container-3 > div > img{
      width: 75%;
      height: auto;
   }

   #container-3 div{
      flex-direction: column;
      align-items: center;
   }

   #container-3 div section{
      margin-top: 20px;

      gap: 30px;

      text-align: center;
   }

   /* Container - 4 --------------------------------- */
   #container-4{
      padding: 5%;

   }

   .media-ct{
      flex-direction: column-reverse;
   }

   .panel{
      width: 100%;
   }

   .media-ct img{
      height: auto;
      width: 80%;
   }

   /* Container - 5 -------------------------------------- */

   #container-5{
      padding: 5%;
   }

   #container-5 section{
      display: flex;
      flex-direction: column;
   }

   /* 
      COntainer - 6  ---------------------------------- 
      * INTODUÇÃO
   */

   .intro-2019{
      padding: 5%;
   }

   .intro-2019 .introImages{
      flex-direction: column;

      gap: 20px;

      align-items: center;
   }

   .intro-2019 .introImages img{
      height: auto;
      width: 80%;
   }

   /* Container - 6 Part I */

   .contentStart-2019{
      padding: 5%;

      display: flex;
      flex-direction: column;

      align-items: center;
   }

   .card-2019{
      width: 80%;
   }

   /* Container - 6 Part II */
   .contentEnd-2019{
      padding: 5%;

      display: flex;
      flex-direction: column;
      align-items: center;
   }

   /* COntainer - 7 ----------------------------------- */

   .formContact{
      width: 70%;
   }

   .userInfo{
      display: flex;
      flex-direction: column;
      gap: 30px;

   }

   /* Footer ------------------------------------- */
   .footerContent{
      padding: 5% 10%;

      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;

      justify-content: center;

   }

   .footerCard{
      margin-bottom: 20px;
      text-align: center;
      
   }

   .footerLogo{
      width: min(80%, 300px);
   }

   .license{
      padding-bottom: 60px;
   }

   /* Fly Buttom */
   .flyBtnHome{
      bottom: 10px;
      right: 50%;

      transform: translateX(50%);
   }
   


}

@media only screen and (max-width: 370px) {
   *{
      font-size: 12px;
   }
   
}

@media only screen and (min-width: 1500px){
   .header{
      justify-content: space-around;
   }

   .footerContent,.license{
      max-width: 1500px;
      margin: auto;
   }

   .footerContent{
      padding: 30px 250px;
   }

   .flyBtnHome{
      width: 100px;
      height: 100px;

      bottom: 8vh;
   }

   .flyBtnHome > img{
      width: 50px;
   }
}


/* Animation ------------------------------------------------- */

[data-anime]{
   opacity: 0 ; 

   transition: .3s;
}

[data-anime="down"]{
   transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
   opacity: 1;

   transform: translate3d(0, 0, 0);
}
